@model IEnumerable<KabbaddiEvent.Event>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.NumberOfTeams)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfTeams)
            </td>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EventId })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.EventId })
            </td>
        </tr>
    }

</table>
